<div class="" >
  <table class="table table-striped" >
    
    <div >
      <tbody>
      <tr id="<%= dom_id member %>">
        <td><%= member.Name %></td>
        <td class="table-active"><%= member.Email %></td>
        <td><%= member.Phone %></td>
        <td><%= link_to "Show this member", member, class:"link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" %></td>
      </tr>
    </tbody>
    </div>
  </table>
</div>


